<input type="button" class="boton" value="Eliminar Cookies" onclick="javascript:$.fn.CookieCompliance.disconsent();">
<script src="//code.jquery.com/jquery-latest.min.js"></script>
<script src="//norfipc.com/js/jquery.cookie.js"></script>
<script src="//norfipc.com/js/cookiecompliance.js"></script>
